<!DOCTYPE html> 
<html> 
	<head> 
	<title>Baiji</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="jquery.mobile.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore.js"></script>
	<script src="http://documentcloud.github.com/backbone/backbone.js"></script>
	<script src="baiji.js"></script>
	
	<script id="listview-template" type="x-ejs">
	<ul class="listview" data-role="listview" data-theme="c">
	  <% for(var i = 0; i < legislators.length; i++) { %>
	    <% var leg = legislators.at(i); %>
	    <li>
	        <img src='<%= leg.get("photo_url") %>' />
	        <h1><a href='#index'><%= leg.get("full_name") %></a></h1>
	        <p><%= leg.get('party') %>, District <%= leg.get('district') %></p>
	    </li>
	  <% } %>
	</ul>
	</script>

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head> 
<body>
  
  <div data-role="page" id="index">
    <div data-role="header">
      <h1>Open State Project</h1>
    </div>

    <div data-role="content">
      <ul data-role="listview" data-theme="c">
        <li><a href="#legislators">Legislators</a></li>
        <li><a href="#bills">Bills</a></li>
      </ul>
    </div>
  </div>
    
  <div data-role="page" id="legislators">
    <div data-role="header">
      <h1>Legislators</h1>
    </div>

    <div data-role="content">
      <div data-role="fieldcontain">
        <label for="select-choice-1" class="select">State:</label>
        <select name="select-choice-1" id="select-choice-1" onclick="dostuff();">
          <option value="ca">California</option>
          <option value="tx">Texas</option>
        </select>
        
        <label for="legislator-chamber-select" class="select">Chamber:</label>
        <select name="legislator-chamber-select" id="legislator-chamber-select">
          <option value="upper">Upper Chamber</option>
          <option value="lower">Lower Chamber</option>
        </select>
        
        <a href="#legislator_list" data-role="button">Go</a>
      </div>
    </div>
  </div>
  
  <div data-role="page" id="legislator_list">
    <div data-role="header">
      <h1>Legislators</h1>
    </div>
    
    <div class="content" data-role="content">
      <ul id="legislator_listview" data-role="listview" data-theme="c">
      </ul>
    </div>        
  </div>
  
  <div data-role="page" id="bills">
    <div data-role="header">
      <h1>Bills</h1>
    </div>
    
    <div data-role="content">
      <div data-role="fieldcontain">
        <label for="select-choice-2" class="select">State:</label>
        <select name="select-choice-2" id="select-choice-2">
          <option value="ca">California</option>
          <option value="tx">Texas</option>
        </select>
        
        <a href="#bill_list" data-role="button">Go</a>
      </div>
    </div>
  </div>
  
  <div data-role="page" id="bill_list">
    <div data-role="header">
      <h1>Bills</h1>
    </div>
    
    <div class="content" data-role="content">
      <ul id="bill_listview" data-role="listview" data-theme="c">
      </ul>
    </div>
  </div>

</body>
</html>